# Generated data (via utilities from https://github.com/GeorgGrebenyuk/MskCsGenerationUtils)
AutodeskCSLibrary.xml
OsgeoProjDb.sql

# todo - base files
AutodeskCSLibrary_Base.xml
OsgeoProjDb_Base.sql
